body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #01444E;
    color: white;
    padding: 1rem 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links li a:hover {
    background-color: #00f7ff;
    border-radius: 5px;
}

main {
    padding: 2rem 0;
    text-align: center;
}

.container > h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.container > p {
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

textarea {
    width: 80%;
    height: 100px;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.lang-select {
    display: flex;
    justify-content: space-between;
    width: 80%;
    gap: 1rem;
}

select, button {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    margin-top: 10px;
    border-radius: 5px;
}

button {
    background-color: #01444E;
    color: white;
    cursor: pointer;
    width: 20%;
}

button:hover {
    background-color: rgb(0, 47, 53);
}

#translated-text {
    margin-top: 1rem;
    font-size: 1.2rem;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #01444E;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

footer p {
    padding-left: 50px;
}
